{% extends "Header.html" %}

{% block AuthMain %}
<body>

    <div class="container p-5 card border border-5 border-top-0 border-bottom-0 bg-light text-black" style="width: 70%;margin-top: 120px;">
        <h3><i class="far fa-user-circle me-3"></i> Signup</h3>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning: </strong> {{message}}
        <button class="btn-close" data-bs-dismiss="alert">      
        <span aria-hidden="true">&times;</span> 
        </button>
        </div>
        {% endfor %}
        <form action="/signup" enctype=multipart/form-data class="was-validated" method="post">
            {% csrf_token %}
          <div class="mb-3 mt-3">
            <label for="uname" class="form-label">Username: *</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
          </div>
          <div class="mb-3 mt-3">
            <label for="fname" class="form-label">First name: *</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter first name" name="fname" required>

          </div>
          <div class="mb-3 mt-3">
            <label for="lname" class="form-label">Last name: *</label>
            <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname" required>
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email: *</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
          </div>
          <div class="mb-3 mt-3">
            <label for="role" class="form-label">Role:</label>
            <input type="text" class="form-control" id="role" placeholder="Type something like(Developer, designer,..etc)" name="role">
          </div>
          <div class="mb-3">
            <label for="pwd1" class="form-label">Password: *</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd1" required>
          </div>
          <div class="mb-3">
            <label for="pwd2" class="form-label">Confirm your password: *</label>
            <input type="password" class="form-control" id="pwd" placeholder="confirm password" name="pswd2" required>
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Choose photo:</label>
            <input type="file" accept="image/*" class="form-control" id="img"  name="img">
          </div>

        <button type="submit" class="btn btn-primary btn-lg">Signup</button>
        </form>
      </div>


</body>

{% endblock  %}