{% extends "Layout/Header.html" %}
{% load static %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/services">Services</a>
</li>
<li class="nav-item active" style="width: 150px;">
  <a class="nav-link" href="/contact_us" >Contact us<span class="sr-only">(current)</span></a>
</li>

{% endblock %}

{% block Content %}

<section class="about_section layout_padding bg-light">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/BG.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Sky Colors
              </h2>
            </div>
            <p>
              We are Sky Colors, our main business is providing services related to home improvement and we have provided many of them that have satisfied our clients<br> We hope you will find what you want here.</p>
            </p>
            <div style="display: flex;align-items: center;">
                <a href="/services" class="text-light" style="margin-right: 25px;">
                    Check our services
                </a>                        
                <a href="/order" class="text-light">
                    Send specific order
                </a>                    
            </div>
                    

          </div>
        </div>
      </div>
    </div>
  </section>

{% load static %}

{% endblock Content %}